.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  width: 136px;
  height: 20px;
}
.link {
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.active {
  color: #007bff;
}
